body {
  background: #76b852;
  background: -webkit-linear-gradient(to top, #76B852, #8DC26F);
  background: -moz-linear-gradient(to top, #76B852, #8DC26F);
  background: -o-linear-gradient(to top, #76B852, #8DC26F);
  background: linear-gradient(to top, #76B852, #8DC26F);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  align-items: stretch;
  justify-content: center;
}

.menu li {
  display: flex;
  align-items: stretch;
}

.menu li a {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0.5em;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  align-items: center;
  transition: 0.5s;
}

.menu li a:hover {
  margin: 0;
  font-size: 2em;
}

.menu li:target {
  border-bottom-color: black;
  border-style: solid;
}

.work-panel {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  width: 85vw;
  height: 85vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.work-panel h1 {
  color: black;
}

.slider-track {
  display: flex;
}

.panel {
  min-width: 85vw;
  min-height: 85vh;
  max-width: 85vw;
  max-height: 85vh;
  overflow: auto;
}

.panel p {
  font-size: 3em;
  text-align: center;
  color: #000000;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}

.panel button {
  font-size: .9em;
  color: #000000;
  background: #ffffff;
  outline: none;
  border: 2px solid #76b852;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  margin: auto;
  display: flex;
  letter-spacing: 4px;
  transition: .5s all;
}

.panel input {
  font-size: .9em;
  color: #000000;
  background: #ffffff;
  outline: none;
  border: 2px solid #76b852;
  cursor: pointer;
  padding: 0.9em;
  display: flex;
  letter-spacing: 1px;
  margin: auto 0 auto auto;
  transition: .5s all;
}

.panel button:hover {
  color: #ffffff;
  background: #8DC26F;
}

.create-account button {
  display: inline;
  margin: auto auto auto 0;
}

select {
  font-size: .9em;
  color: #000000;
  background: #ffffff;
  outline: none;
  border: 2px solid #76b852;
  cursor: pointer;
  padding: 0.9em;
  letter-spacing: 4px;
  display: inline;
  margin: auto 0 auto auto;
  transition: .5s all;
}

.create-account {
  margin: auto auto 20px;
  display: flex;
}

.account-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-width: 83vw;
  min-height: 50vh;
  max-width: 83vw;
  display: flex;
  flex-wrap: wrap;
}

.account-elem {
  margin: auto auto 20px;
  background: linear-gradient(to left, #ffbb88, #ffbb66);
  display: block;
  border-radius: 20px;
  overflow: auto;
  width: 30vw;
  height: 20vh;
  min-width: 30vw;
  min-height: 20vh;
}

.account-elem p {
  font-size: 1em;
  text-align: left;
  margin-left: 10px;
  color: #ffffff;
  font-weight: 1000;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.money-wrapper {
  display: flex;
}

.create-card {
  margin: auto auto 20px;
  display: flex;
}

.create-card button {
  display: inline;
  margin: auto auto auto 0;
}

.card-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  min-width: 83vw;
  min-height: 50vh;
  max-width: 83vw;
  display: flex;
  flex-wrap: wrap;
}

.card-elem {
  margin: auto auto 20px;
  background: linear-gradient(to left, #6669ff, #2d3fad);
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: auto;
  width: 30vw;
  height: 20vh;
  min-width: 30vw;
  min-height: 20vh;
}

.card-elem p {
  font-size: 1em;
  text-align: center;
  margin-left: 10px;
  color: #ffffff;
  font-weight: 1000;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.card-back {
  width: inherit;
  height: inherit;
  visibility: hidden;
  position: absolute;
}

.card-front {
  width: inherit;
  height: inherit;
  position: absolute;
}

.card-elem:hover .card-front {
  visibility: hidden;
}

.card-elem:hover .card-back {
  visibility: visible;
}

.send-transaction {
  margin: auto auto 20px;
  display: flex;
}

.send-transaction button{
  margin: auto auto auto 0;
}

.transaction-holder p {
  font-size: 1em;
  text-align: center;
  color: #000000;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}