body {
  background: #76b852;
  background: -webkit-linear-gradient(to top, #76B852, #8DC26F);
  background: -moz-linear-gradient(to top, #76B852, #8DC26F);
  background: -o-linear-gradient(to top, #76B852, #8DC26F);
  background: linear-gradient(to top, #76B852, #8DC26F);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  align-items: stretch;
  justify-content: center;
}

.menu li {
  display: flex;
  align-items: stretch;
}

.menu li a {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0.5em;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  align-items: center;
  transition: 0.5s;
}

.menu li a:hover {
  margin: 0;
  font-size: 2em;
}

.menu li:target {
  border-bottom-color: black;
  border-style: solid;
}

.work-panel {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
  width: 85vw;
  height: 85vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.work-panel h1 {
  color: black;
}

.slider-track {
  display: flex;
}

.panel {
  min-width: 85vw;
  min-height: 85vh;
}

.panel button {
  font-size: .9em;
  color: #000000;
  background: #ffffff;
  outline: none;
  border: 2px solid #76b852;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  margin: auto;
  display: block;
  letter-spacing: 4px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
}

.panel button:hover {
  color: #ffffff;
  background: #8DC26F;
}