<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../static/style/mainStyle.css" th:href="@{/style/mainStyle.css}" rel="stylesheet"
        type="text/css" media="all"/>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<header>
  <ul class="menu">
    <li><a class="menu-link" href="#mainp">Main</a></li>
    <li><a class="menu-link" href="#cards">Cards</a></li>
    <li><a class="menu-link" href="#accounts">Accounts</a></li>
    <li><a class="menu-link" href="#credits">Credits</a></li>
    <li><a class="menu-link" href="#holdings">Holdings</a></li>
    <li><a class="menu-link" href="#transactions">Transactions</a></li>
  </ul>
</header>
<div class="work-panel">
  <div class="slider-track">
    <div class="panel">
      <h1 id="mainp">Main</h1>
      <form method="get" action="/logout">
        <button>SIGNOUT</button>
      </form>
    </div>
    <div class="panel">
      <h1 id="cards">Cards</h1>
      <div class="card-holder">
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
      </div>
      <div class="create-card">
        <select>
          <option>2 YEARS</option>
          <option>3 YEARS</option>
        </select>
        <button id="create-card-button">CREATECARD</button>
      </div>
    </div>
    <div class="panel">
      <h1 id="accounts">Accounts</h1>
      <div class="account-holder">
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
      </div>
      <div class="create-account">
        <select>
          <option>USD</option>
          <option>EUR</option>
          <option>RUB</option>
          <option>BYN</option>
        </select>
        <button id="create-account-button">CREATEACCOUNT</button>
      </div>
    </div>
    <div class="panel">
      <h1 id="credits">Credits</h1>
    </div>
    <div class="panel">
      <h1 id="holdings">Holdings</h1>
    </div>
    <div class="panel">
      <h1 id="transactions">Transactions</h1>

      <div class="send-money">
        <div class="send-money-amount">
          <input type="text" id="amount-of-money" placeholder="Amount">
        </div>
        <div class="info-wrapper">
        <div class="send-money-to-account">
          <input type="text" id="dest-account-num" placeholder="Account number">
          <button id="send-to-account-button">SENDTOACCOUNT</button>
        </div>
        <div class="send-money-to-card">
          <input type="text" id="dest-card-num" placeholder="Card number">
          <button id="send-to-card-button">SENDTOCARD</button>
        </div>
        </div>
      </div>
      <div class="transaction-holder">
        <p>01-04-2022 30-03-2022 684289O/0000071 Покупка/оплата/перевод - PT KOFEJNYA N2 - MINSK BYN     </p>
        <p>01-04-2022 31-03-2022 3389900/0000070 Покупка/оплата/перевод - PAV. N73 BAPB - MINSK BYN      </p>
        <p>03-04-2022 01-04-2022 2379911/0000013 Пополнение счета наличными (по ПК) - INFOKIOSK 02379 CAS</p>
        <p>01-04-2022 30-03-2022 684289O/0000071 Покупка/оплата/перевод - PT KOFEJNYA N2 - MINSK BYN     </p>
        <p>01-04-2022 31-03-2022 3389900/0000070 Покупка/оплата/перевод - PAV. N73 BAPB - MINSK BYN      </p>
        <p>03-04-2022 01-04-2022 2379911/0000013 Пополнение счета наличными (по ПК) - INFOKIOSK 02379 CAS</p>
        <p>01-04-2022 30-03-2022 684289O/0000071 Покупка/оплата/перевод - PT KOFEJNYA N2 - MINSK BYN     </p>
        <p>01-04-2022 31-03-2022 3389900/0000070 Покупка/оплата/перевод - PAV. N73 BAPB - MINSK BYN      </p>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="../static/js/mainScript.js"
        th:src="@{/js/mainScript.js}"></script>
</html>