<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="../static/style/mainStyle.css" th:href="@{/style/mainStyle.css}" rel="stylesheet"
        type="text/css" media="all"/>
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<header>
  <ul class="menu">
    <li><a class="menu-link" href="#mainp">Main</a></li>
    <li><a class="menu-link" href="#cards">Cards</a></li>
    <li><a class="menu-link" href="#accounts">Accounts</a></li>
    <li><a class="menu-link" href="#credits">Credits</a></li>
    <li><a class="menu-link" href="#holdings">Holdings</a></li>
    <li><a class="menu-link" href="#transactions">Transactions</a></li>
  </ul>
</header>
<div class="work-panel">
  <div class="slider-track">
    <div class="panel">
      <h1 id="mainp">Main</h1>
      <form method="get" action="/logout">
        <button>SIGNOUT</button>
      </form>
    </div>
    <div class="panel">
      <h1 id="cards">Cards</h1>
      <div class="card-holder">
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
        <div class="card-elem">
          <div class="card-front">
            <p>4255200579617176</p>
            <p>11/18</p>
          </div>
          <div class="card-back">
            <p>CVV: 455</p>
            <p>PIN: 123</p>
          </div>
        </div>
      </div>
      <div class="create-card">
        <select>
          <option>2 YEARS</option>
          <option>3 YEARS</option>
        </select>
        <button id="create-card-button">CREATECARD</button>
      </div>
    </div>
    <div class="panel">
      <h1 id="accounts">Accounts</h1>
      <div class="account-holder">
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
        <div class="account-elem">
          <p>BY24123460155370855121674281</p>
          <p>5370855121674281</p>
          <div class="money-wrapper">
            <p>0</p>
            <p>USD</p>
          </div>
        </div>
      </div>
      <div class="create-account">
        <select>
          <option>USD</option>
          <option>EUR</option>
          <option>RUB</option>
          <option>BYN</option>
        </select>
        <button id="create-account-button">CREATEACCOUNT</button>
      </div>
    </div>
    <div class="panel">
      <h1 id="credits">Credits</h1>
    </div>
    <div class="panel">
      <h1 id="holdings">Holdings</h1>
    </div>
    <div class="panel">
      <h1 id="transactions">Transactions</h1>
    </div>
  </div>
</div>
</body>
<script type="application/x-javascript">
  displayCards();
  displayAccounts();
  const menuElements = document.getElementsByClassName("menu-link");
  var accountElements;
  var targetAccount;

  fetch("/api/v1/users/passport")
  .then(data => data.json())
  .then(passport => {
    const tempElem = document.querySelector("#mainp");
    let newElem = document.createElement('p');
    newElem.innerHTML = "Identity code: " + passport.identityCode;
    tempElem.after(newElem);

    newElem = document.createElement('p');
    newElem.innerHTML = "Date of birth: " + passport.dob.substring(0, 10);
    tempElem.after(newElem);

    newElem = document.createElement('p');
    newElem.innerHTML = "Succession: " + passport.sns.succession;
    tempElem.after(newElem);

    newElem = document.createElement('p');
    newElem.innerHTML = "Name: " + passport.sns.name;
    tempElem.after(newElem);

    newElem = document.createElement('p');
    newElem.innerHTML = "Surname: " + passport.sns.surname;
    tempElem.after(newElem);
  });

  function onMenuClick(event) {
    for (let i = 0; i < menuElements.length; i++) {
      menuElements[i].style.borderStyle = "none";
      menuElements[i].style.borderWidth = "0 0 0 0";
    }

    const menuElem = event.currentTarget;
    menuElem.style.borderBottomColor = "white";
    menuElem.style.borderStyle = "solid";
    menuElem.style.borderWidth = "0 0 3px 0";
  }

  function createAccountVisual(element) {
    let accHolder = document.querySelector(".account-holder");

    let accountView = document.createElement("div");
    accountView.classList.add("account-elem");

    let text = document.createElement("p");
    text.innerHTML = element.iban;
    accountView.append(text);

    text = document.createElement("p");
    text.innerHTML = element.number;
    accountView.append(text);

    let moneyWrapper = document.createElement("div");
    moneyWrapper.classList.add("money-wrapper");

    text = document.createElement("p");
    text.innerHTML = element.money;
    moneyWrapper.append(text);

    text = document.createElement("p");
    text.innerHTML = element.currencyType;
    moneyWrapper.append(text);

    accountView.append(moneyWrapper);
    accHolder.append(accountView);
    accountView.addEventListener('click', onAccountPick);
    return accountView;
  }

  function createAccount() {
    const data = {};
    data.currencyType = document.querySelector(".create-account select").value;
    console.log(JSON.stringify(data));
    fetch('api/v1/accounts/new', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(json => createAccountVisual(json))
    .then(() => accountElements = document.getElementsByClassName("account-elem"))
    .then(() => console.log(accountElements));
  }

  function displayAccounts() {
    fetch('api/v1/accounts/user-attached')
    .then(data => data.json())
    .then(json => {
      const accHolder = document.querySelector(".account-holder");
      accHolder.innerHTML = "";
      json.forEach(element => {
        createAccountVisual(element);
      });
    });
  }

  function onAccountPick(event) {
    targetAccount = event.currentTarget;
    if (!(targetAccount.style.borderStyle === "solid")) {
      for (let i = 0; i < accountElements.length; i++) {
        accountElements[i].style.borderStyle = "none";
        accountElements[i].style.borderWidth = "0";
      }

      targetAccount.style.borderColor = "black";
      targetAccount.style.borderStyle = "solid";
      targetAccount.style.borderWidth = "2px";
    } else {
      targetAccount.style.borderStyle = "none";
      targetAccount.style.borderWidth = "0";
      targetAccount = undefined;
    }
  }

  function createCardVisual(element) {
    let cardHolder = document.querySelector(".card-holder");

    let cardView = document.createElement("div");
    cardView.classList.add("card-elem");

    let cardViewFront = document.createElement("div");
    cardViewFront.classList.add("card-front");

    let cardViewBack = document.createElement("div");
    cardViewBack.classList.add("card-back");

    let text = document.createElement("p");
    text.innerHTML = element.number;
    cardViewFront.append(text);

    text = document.createElement("p");
    text.innerHTML = 'VALID THRU: ' + element.expirationTime.substring(0, 6);
    cardViewFront.append(text);

    text = document.createElement("p");
    text.innerHTML = 'CVV: ' + element.cvv;
    cardViewBack.append(text);

    text = document.createElement("p");
    text.innerHTML = 'PIN: ' + element.pin;
    cardViewBack.append(text);

    cardView.append(cardViewFront, cardViewBack);
    cardHolder.append(cardView);
  }

  function createCard() {
    const data = {};
    const account = {};
    const card = {};

    if (targetAccount) {
      account.iban = targetAccount.firstChild.innerHTML;
      account.currencyType = "USD";
      let today = new Date();
      const selector = document.querySelector(".create-card select");
      card.expirationTime = (today.getFullYear() + Number(selector.value.charAt(0)))
          + '-0' + (today.getMonth() + 1)
          + '-' + today.getDate()
          + 'T00:00';

      data.accountDto = account;
      data.cardDto = card;
      console.log(JSON.stringify(data));
      fetch('/api/v1/cards/new', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(ans => ans.json())
      .then(json => createCardVisual(json));
    } else {
      //.......//
    }
  }

  function displayCards() {
    fetch('api/v1/cards/user-attached')
    .then(data => data.json())
    .then(json => {
      const accHolder = document.querySelector(".card-holder");
      accHolder.innerHTML = "";
      json.forEach(element => createCardVisual(element));
    });
  }

  accountElements = document.getElementsByClassName("account-elem");

  for (let i = 0; i < menuElements.length; i++) {
    menuElements[i].addEventListener('click', onMenuClick);
  }

  menuElements[0].style.borderBottomColor = "white";
  menuElements[0].style.borderStyle = "solid";
  menuElements[0].style.borderWidth = "0 0 3px 0";

  document.querySelector("#create-account-button").addEventListener('click', createAccount);
  document.querySelector("#create-card-button").addEventListener('click', createCard);
</script>
</html>